<html ng-app="top5app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 5's Best Albums 2014</title>

    <link rel="stylesheet" href="css/app.min.css" type="text/css">

    <script src="http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
  </head>
  <body ng-controller="AppControl">
    <svg class="svg-icon-main" display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol id="icon-grade" viewBox="0 0 1024 1024">
          <title>grade</title>
          <path class="path1" d="M512 736.853l263.68 159.147-69.76-299.947 232.747-201.6-306.773-26.453-119.893-282.667-119.893 282.667-306.773 26.453 232.747 201.6-69.76 299.947z"></path>
        </symbol>
        <symbol id="icon-play-arrow" viewBox="0 0 1024 1024">
          <title>play-arrow</title>
          <path class="path1" d="M341.333 213.333v597.333l469.333-298.667z"></path>
        </symbol>
        <symbol id="icon-insert-chart" viewBox="0 0 1024 1024">
          <title>insert-chart</title>
          <path class="path1" d="M810.667 128h-597.333c-47.147 0-85.333 38.187-85.333 85.333v597.333c0 47.147 38.187 85.333 85.333 85.333h597.333c47.147 0 85.333-38.187 85.333-85.333v-597.333c0-47.147-38.187-85.333-85.333-85.333zM384 725.333h-85.333v-298.667h85.333v298.667zM554.667 725.333h-85.333v-426.667h85.333v426.667zM725.333 725.333h-85.333v-170.667h85.333v170.667z"></path>
        </symbol>
        <symbol id="icon-close" viewBox="0 0 1024 1024">
          <title>close</title>
          <path class="path1" d="M810.667 273.707l-60.373-60.373-238.293 238.293-238.293-238.293-60.373 60.373 238.293 238.293-238.293 238.293 60.373 60.373 238.293-238.293 238.293 238.293 60.373-60.373-238.293-238.293z"></path>
        </symbol>
        <symbol id="icon-menu" viewBox="0 0 1024 1024">
          <title>menu</title>
          <path class="path1" d="M128 768h768v-85.333h-768v85.333zM128 554.667h768v-85.333h-768v85.333zM128 256v85.333h768v-85.333h-768z"></path>
        </symbol>
      </defs>
    </svg>
    
    <h1 class="site-header">Current Top 5's Best Albums 2014</h1>

    <div class="wrapper">
      <div class="voting-form">
        <h4>Vote</h4>
        <p>Add your top 10 favorite albums from the past year.</p>
        <ol class="list" ui-sortable ng-model="submissions">
          <li ng-repeat="submission in submissions"><strong>{{submission.bandname}}</strong> – <em>{{submission.albumname}}</em> <button class="button--close" type="button" ng-click="deleteItem($index)"><svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg></button></li>
        </ol>
        
        <div class="add-album" ng-show="submissions.length < 10">
          <input type="text" ng-model="bandname" placeholder="Band Name">
          <input type="text" ng-model="albumname" placeholder="Album Name">
          <button type="button" ng-click="addAlbum($event)">Add</button>
        </div>
        <div class="submit-albums" ng-show="submissions.length == 10">
          <input type="text" ng-model="userName" placeholder="Your Name">
          <button type="button" ng-click="submitAlbums()">Submit</button>
        </div>
      </div>

      <div class="top-10-list">
        <h4>The Results</h4>
        <p>Scores are updated live. No need to refresh.</p>
        <ul class="result-list">
          <li class="album" ng-repeat="album in albumList | orderBy:'score':true" >
            <div class="album__art">
              <img  ng-src="{{ album.spotifyImage }}">
            </div>
            <div class="album__info">
              <h4>{{ album.albumname }}</h4>
              <h5 class="album__band">{{ album.bandname }}</h5>
              <ul class="details">
                <li>{{ album.score }} points</li>
                <li>{{ album.votes.length }} votes</li>
                <li><a ng-href="https://open.spotify.com/album/{{ album.spotifyID }}" title="Play on Spotify"><svg class="icon icon-play-arrow"><use xlink:href="#icon-play-arrow"></use></svg>Play</a></li>
                <li><a href="#" title="Show data" ng-click="showData = ! showData"><svg class="icon icon-insert-chart"><use xlink:href="#icon-insert-chart"></use></svg>Show data</a></li>
              </ul>
            </div>
            <div class="album__data" ng-show="showData" ng-init="albumData = findById(barData, album.$id)">
              <canvas tc-chartjs-bar chart-data="albumData.bardata" chart-options="chartOptions" width="480" height="115" id="barchart-{{ $index }}"></canvas>
              <h5>Who voted for this:</h5>
              <p><span ng-repeat="vote in album.votes">{{vote.user}}, </span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <p><small><a href="https://github.com/andrewlaskey/top5-best-albums">GitHub</a> v0.1</small></p>
    
    <script src="js/scripts.js"></script>
  </body>
</html>
