@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

* {
	box-sizing: border-box;
}

@mixin hfa {
	&:hover,
	&:focus,
	&:active {
	  @content;
	}
}

.wrapper {
	@include outer-container;
	padding-left: 2rem;
	padding-right: 2rem;

	@include media($large-screen) {
		padding-left: 0;
		padding-right: 0;
	}
}

.voting-form {
	@include media($large-screen) {
		@include span-columns(6);
	}
}

.top-10-list {
	@include media($large-screen) {
		@include span-columns(6);
		@include omega();
	}

	table {
		margin-top: 0;
	}
}

.site-header {
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	width: 1em;
}

button.button--close {
	padding: 0.25em 0.5em;
	background: $error-color;

	@include hfa {
		background: darken($error-color, 8%);
	}
}

.list {

	li {
		@include clearfix;
		border-bottom: $base-border;
		padding: ($base-spacing / 2) 0;
		cursor: move;

		&.ui-sortable-helper {
			background: rgba($base-background-color, 0.75);
		}

		.button--close {
			float: right;
		}
	}
}

$album-size: 100px;

.album {
	display: block;
	position: relative;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: em($album-size) + 1em;
	height: em($album-size) + 1em;
	border-bottom: $base-border;
}

.album__art {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: $album-size;
	height: $album-size;
	background: $light-gray;

	img {
		width: 100%;
		height: 100%;
	}
}

.album__band {
	margin-bottom: 0.5em;
	font-weight: normal;
}

.details {
	li {
		display: inline-block;
		margin-right: 1em;
	}
}