* {
  box-sizing: border-box; }

.list {
  display: block;
  background: #121212; }
  .list:before, .list:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .list:after {
    clear: both; }
  .list .list__item {
    display: inline-block;
    width: 100%;
    padding: 0.5em 1em;
    background: #f6f6f6;
    border: 1px solid #d6d6d6; }
  .list .dragging-after {
    background-color: green;
    border-top: 1px solid #cccccc; }
  .list .dragging-before {
    background-color: red; }
  .list i {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: blue; }

.ng-repeat-reorder-parent {
  background: purple; }

.ng-repeat-reorder-parent, [ng-repeat-reorder] {
  z-index: 10;
  position: relative; }

[ng-repeat-reorder].dragging {
  z-index: 11;
  position: absolute;
  width: 100%; }

.active-drag-below {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
