<html ng-app="top5app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 5's Best Albums 2014</title>

    <link rel="stylesheet" href="css/app.min.css" type="text/css">

    <script src="http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
  </head>
  <body ng-controller="AppControl">
    
    <h1>Current Top 5's Best Albums 2014</h1>

    <ol class="list" ui-sortable ng-model="submissions">
      <li ng-repeat="submission in submissions"><span>{{submission.bandName}}</span> – <span>{{submission.albumName}}</span> <button type="button" ng-click="deleteItem($index)">Delete</button></li>
    </ol>
    <p>{{ submissions | json }}</p>
    
    <div class="add-album" ng-show="submissions.length < 10">
      <input type="text" ng-model="bandName" placeholder="Band Name">
      <input type="text" ng-model="albumName" placeholder="Album Name">
      <button type="button" ng-click="addAlbum($event)">Add</button>
    </div>
    <div class="submit-albums" ng-show="submissions.length == 10">
      <input type="text" ng-model="userName" placeholder="Your Name">
      <button type="button" ng-click="submitAlbums()">Submit</button>
    </div>
    
    <script src="js/scripts.js"></script>
  </body>
</html>
