<html ng-app="top5app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 5's Best Albums 2014</title>

    <link rel="stylesheet" href="css/app.min.css" type="text/css">

    <script src="http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
  </head>
  <body ng-controller="AppControl">
    <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol id="icon-stats" viewBox="0 0 1024 1024">
          <title>stats</title>
          <path class="path1" d="M128 896h896v128h-1024v-1024h128zM288 832c-53.020 0-96-42.98-96-96s42.98-96 96-96c2.828 0 5.622 0.148 8.388 0.386l103.192-171.986c-9.84-15.070-15.58-33.062-15.58-52.402 0-53.020 42.98-96 96-96s96 42.98 96 96c0 19.342-5.74 37.332-15.58 52.402l103.192 171.986c2.766-0.238 5.56-0.386 8.388-0.386 2.136 0 4.248 0.094 6.35 0.23l170.356-298.122c-10.536-15.408-16.706-34.036-16.706-54.11 0-53.020 42.98-96 96-96s96 42.98 96 96c0 53.020-42.98 96-96 96-2.14 0-4.248-0.094-6.35-0.232l-170.356 298.124c10.536 15.406 16.706 34.036 16.706 54.11 0 53.020-42.98 96-96 96s-96-42.98-96-96c0-19.34 5.74-37.332 15.578-52.402l-103.19-171.984c-2.766 0.238-5.56 0.386-8.388 0.386s-5.622-0.146-8.388-0.386l-103.192 171.986c9.84 15.068 15.58 33.060 15.58 52.4 0 53.020-42.98 96-96 96z"></path>
        </symbol>
        <symbol id="icon-play-arrow" viewBox="0 0 1024 1024">
          <title>play-arrow</title>
          <path class="path1" d="M341.333 213.333v597.333l469.333-298.667z"></path>
        </symbol>
        <symbol id="icon-close" viewBox="0 0 1024 1024">
          <title>close</title>
          <path class="path1" d="M810.667 273.707l-60.373-60.373-238.293 238.293-238.293-238.293-60.373 60.373 238.293 238.293-238.293 238.293 60.373 60.373 238.293-238.293 238.293 238.293 60.373-60.373-238.293-238.293z"></path>
        </symbol>
        <symbol id="icon-menu" viewBox="0 0 1024 1024">
          <title>menu</title>
          <path class="path1" d="M128 768h768v-85.333h-768v85.333zM128 554.667h768v-85.333h-768v85.333zM128 256v85.333h768v-85.333h-768z"></path>
        </symbol>
      </defs>
    </svg>
    
    <h1 class="site-header">Current Top 5's Best Albums 2014</h1>

    <div class="wrapper">
      <div class="voting-form">
        <h4>Vote</h4>
        <p>Add your top 10 favorite albums from the past year.</p>
        <ol class="list" ui-sortable ng-model="submissions">
          <li ng-repeat="submission in submissions"><strong>{{submission.bandname}}</strong> – <em>{{submission.albumname}}</em> <button class="button--close" type="button" ng-click="deleteItem($index)"><svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg></button></li>
        </ol>
        
        <div class="add-album" ng-show="submissions.length < 10">
          <input type="text" ng-model="bandname" placeholder="Band Name">
          <input type="text" ng-model="albumname" placeholder="Album Name">
          <button type="button" ng-click="addAlbum($event)">Add</button>
        </div>
        <div class="submit-albums" ng-show="submissions.length == 10">
          <input type="text" ng-model="userName" placeholder="Your Name">
          <button type="button" ng-click="submitAlbums()">Submit</button>
        </div>
      </div>

      <div class="top-10-list">
        <h4>The Results</h4>
        <p>Scores are updated live. No need to refresh.</p>
        <table>
          <thead>
            <tr>
              <td>Score</td>
              <td>Band Name</td>
              <td>Album Name</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="album in albumList | orderBy:'score':true">
              <td>{{ album.score }}</td>
              <td>{{ album.bandname }}</td>
              <td>{{ album.albumname }}</td>
            </tr>
          </tbody>
        </table>
        <p>{{ topList | json }}</p>
      </div>
    </div>
    <button type="button" ng-click="testSpotify();">Test Spotify</button>
    
    <script src="js/scripts.js"></script>
  </body>
</html>
